.nav {
    height: 60px;
    align-items: flex-end;
    font-family: 'Patua One', serif;
}

.nav-toggle {
    margin: auto;
}

/*#main {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='#fbfcf6'/><rect width='1' height='1' fill='#f5e5c6'/></svg>");
  background-repeat: repeat; 
}
*/
body {
    font-family: 'Droid Serif', ;
}


/* NAV */

#logo-text {
    font-weight: bold;
    font-size: 32px;
    justify-content: flex-start;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
}

