/*
---------
VARIABLES
---------

This set of variables is used to derive the downstream stuff in the regular css files.
The colors override default bulma colors.

*/
/* FONTS */
/* COLORS */
/* non-bulma colors */
/*
Main scss file.
This creates the main.css file and the same variables can be used in the bulma variables.
*/
body {
  font-family: "Karla", sans-serif;
  background-color: #FAF9F9;
  color: #100B03; }

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 5rem;
  text-decoration: none; }

a {
  color: #D85D44; }
  a:hover {
    color: #3A89C9; }

/* NAV */
.navbar {
  /* padding: 0rem 3rem 0rem 3rem; */
  background-color: #FAF9F9;
  align-items: flex-end;
  font-family: "Patua One", serif;
  margin: auto; }

.navbar-end a:hover,
.fa:hover {
  color: #3A89C9; }

.navbar-burger {
  margin-top: auto;
  height: 3.25rem; }

#logo-text {
  font-weight: bold;
  font-size: 32px;
  justify-content: flex-start;
  font-family: "Patua One", serif; }

#logo-img {
  padding: 0px;
  justify-content: flex-end;
  width: 40px;
  transition: 0.2s ease-in-out; }

#logo-img:hover {
  transform: rotate(180deg); }

.fa {
  color: #100B03; }

/* CONTENT */
/* THIS IS WHERE MARKDOWN IS RENDERED */
.content {
  /* code blocks */ }
  .content h1 {
    font-family: "Shrikhand", sans-serif;
    font-size: 3rem;
    color: #18130D;
    text-decoration: none; }
  .content h2 {
    font-family: "Alegreya", serif;
    font-size: 2rem;
    color: #38332A; }
    .content h2:nth-of-type(1) {
      margin-top: 1rem; }
    .content h2:not(:nth-of-type(1)) {
      margin-top: 4rem; }
  .content h3 {
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
    color: #3F3B35;
    margin-top: 2.5rem; }
  .content h4 {
    font-family: "Alegreya", serif;
    font-size: 1.25rem;
    color: #5E564B;
    margin-top: 2rem; }
  .content p,
  .content ul {
    color: #5E564B;
    font-size: 1.125rem;
    text-align: justify; }
  .content hr {
    border-top: 1px dotted #DCDBD9; }
  .content .hll {
    margin: 1rem; }

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem; }

/* HEROES AND SUBTITLES */
#about-hero {
  /* background dot pattern */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='#2a363b'/><rect width='1' height='1' fill='#496069'/></svg>");
  background-repeat: repeat; }

.title {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 5rem; }

.subtitle {
  font-family: "Karla", serif;
  font-weight: normal;
  font-size: 1.5rem; }

.title-light {
  color: #F5F4F4;
  text-shadow: 5px -5px 0 #D85D44; }

.title-dark {
  color: #2a363b; }

.subtitle-light {
  color: #F0EFEF;
  opacity: 0.8; }

.subtitle-dark {
  color: #2a363b; }

#about-container {
  margin-top: 2rem; }

#about-photo {
  margin: 0rem; }

#about-logo {
  margin: 0rem; }

#about-name {
  margin: auto; }

#about-tagline {
  text-align: justify;
  font-size: 1rem; }

#about-cardtitle {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

/* FOOTER */
.footer {
  background-color: #2a363b;
  color: #FAF9F9; }
  .footer strong {
    color: #FAF9F9; }

/*# sourceMappingURL=styles.css.map*/