{{ define "main" }}
<section class="section" id="main">
  <div class="container" id="about-container">
    {{ partial "hero.html" . }}
    <div class="columns is-centered">
    
      <div class="column is-6">
        <div class="content">
          {{ .Content }}
        </div>
      </div>

      <div class="column is-4">
        <div class="card" id="about-card">
          <!-- image -->
          <div class="card-image">
            <figure class="image" id="about-photo">
              <img src="/img/about.jpg" alt="My dog Howie and myself." />
            </figure>
          </div>

          <!-- card content -->
          <div class="card-content">
            <div id="main">
              <div>
                {{ partial "svg.html" (dict
                  "src" "assets/img/projects-logo.svg"
                  "class" "about-logo" 
                )}}
              </div>

              <div>
                <p id="about-cardtitle">{{ .Site.Params.AuthorName }}</p>
                <p>
                  <a href="https://twitter.com/{{ .Site.Params.TwitterHandle }}">
                    @{{ .Site.Params.TwitterHandle }}
                  </a>
                </p>
              </div>
            </div>

            <hr />

            <div class="content about-content">
              {{ .Params.Tagline | markdownify }}
            </div>

            <!-- icons array -->
            <div id="icons">
              <a href="{{ .Site.Params.AuthorEmail }}">
                <span class="icon-envelope"></span>
              </a>
              <a href="{{ .Site.Params.LinkedInUrl }}">
                <span class="icon-linkedin-square"></span>
              </a>
              <a href="https://twitter.com/{{ .Site.Params.TwitterHandle }}">
                <span class="icon-twitter"></span>
              </a>
              <a href="https://github.com/{{ .Site.Params.GithubUser }}">
                <span class="icon-github"></span>
              </a>
              <a
                href="https://www.instagram.com/howiethesamoyed"
                alt="Like the dog? Here's his Instagram!"
              >
                <span class="icon-paw"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
