# custom
node_modules
public
docs
resources/_gen
webpack/node_modules/
npm-debug.log
webpack/npm-debug.log
cfg.json
.sass-cache
*.DS_STORE
*checkpoint.ipynb

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

content/blog/fantasy-baseball/dfp.csv
content/blog/fantasy-baseball/dfb.csv
