---
import Footer from "@src/components/Footer.astro";
import Navigation from "@src/components/Navigation.astro";
import Pagination from "@src/components/Pagination.astro";
import RecipePreview from "@src/components/RecipePreview.astro";
import BaseHead from "@src/components/head/BaseHead.astro";
import { sortPublishDateDesc } from "@src/lib/sort";
import type { GetStaticPaths, Page } from "astro";
import { CollectionEntry, getCollection } from "astro:content";

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = { page: Page<CollectionEntry<"recipes">> };

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = (await getCollection("recipes")).sort(sortPublishDateDesc);
  return paginate(posts, { pageSize: 5 });
};

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={"blog"} description={"Writings I've written."} />
    <style lang="scss">
      section {
        width: var(--pageWidth);
        margin: 1rem auto;
        padding: 1rem;
      }

      .recipe-list {
        display: flex;
        flex-direction: row;
        gap: var(--recipeGap);
        margin-bottom: 3rem;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <main>
      <section>
        <div class="recipe-list">
          {
            page.data.map(({ slug, data }) => {
              return <RecipePreview slug={slug} {...data} />;
            })
          }
        </div>
        <Pagination page={page} />
      </section>
    </main>
    <Footer />
  </body>
</html>
