@import "variables.scss";

/*
Main scss file.
This creates the main.css file and the same variables can be used in the bulma variables.
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    color: $black;
}


/* NAV */

.navbar {
    /* padding: 0rem 3rem 0rem 3rem; */
    align-items: flex-end;
    font-family: 'Patua One', serif;
    margin: auto;
}

.navbar-end a:hover,
.fa:hover {
    color: $blue;
}

.navbar-burger {
    margin-top: auto;
    height: 3.25rem;
}

#logo-text {
    font-weight: bold;
    font-size: 32px;
    justify-content: flex-start;
    font-family: 'Patua One', serif;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
}

#logo-img:hover {
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

.fa {
    color: $black;
}


/* HERO */


/* ARTICLE BODY */

h1 {
    font-family: 'Patua One', serif;
    font-size: 4.2rem !important;
}

.article-text {
    font-size: 24px;
    text-align: justify;
}


/* ABOUT ME TAB */

#about-photo {
    margin: 0rem;
}

#about-logo {
    margin: 0rem;
}

#about-name {
    margin: auto;
}

#about-tagline {
    text-align: justify;
}


/* ERROR PAGE */

#error-container {
    text-align: center;
    h1 {
        font-size: 2em !important;
        font-weight: 400;
    }
}

#three-dots {
    height: 60px;
    width: 60px;
    margin: 20px;
}

#three-dots:hover {
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

#go-home {
    font-size: 10px;
    visibility: hidden;
}

#go-home-link:hover~#go-home {
    visibility: visible;
    transition: 0.2s ease-in-out;
}