@import "variables.scss";

/*
Main scss file.
This creates the main.css file and the same variables can be used in the bulma variables.
*/

body {
    font-family: $reading-fonts;
    background-color: $white;
    color: $black;
}

h1 {
    font-family: $hero-fonts;
    font-size: 5rem !important;
    text-decoration: none;
}

/* NAV */

.navbar {
    /* padding: 0rem 3rem 0rem 3rem; */
    align-items: flex-end;
    font-family: $display-fonts;
    margin: auto;
}

.navbar-end a:hover,
.fa:hover {
    color: $blue;
}

.navbar-burger {
    margin-top: auto;
    height: 3.25rem;
}

#logo-text {
    font-weight: bold;
    font-size: 32px;
    justify-content: flex-start;
    font-family: $display-fonts;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
    transition: 0.2s ease-in-out;
}

#logo-img:hover {
    transform: rotate(180deg);
}

.fa {
    color: $black;
}


/* CONTENT */
/* THIS IS WHERE MARKDOWN IS RENDERED */
.content {

    h1 {
        font-family: $hero-fonts;
        font-size: 3rem;
        color: $black-bis;
        text-decoration: none;
    }

    h2 {
        font-family: $subtitle-fonts;
        font-size: 2rem;
        color: $black-ter;
    }

    h3 {
        font-family: $subtitle-fonts;
        font-size: 1.5rem;
        color: $grey-darker;
    }

    h4 {
        font-family: $subtitle-fonts;
        font-size: 1.25rem;
        color: $grey-dark;
    }

    p,
    ul {
        color: $grey-dark;
        font-size: 1.125rem;
        text-align: justify;
    }

    hr {
        border-top: 1px dotted $grey-lighter;
    }

}


/* ABOUT ME TAB */

#about-hero {
    /* background dot pattern */
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='#2a363b'/><rect width='1' height='1' fill='#496069'/></svg>");
    background-repeat: repeat;

    .title-light {
        font-family: $hero-fonts;
        font-weight: normal;
        font-size: 6rem;
        color: $white-bis;
        text-shadow: 5px -5px 0 $orange;
    }

    .subtitle-light {
        color: $white-ter;
        font-family: $hero-subtitle-fonts;
        font-weight: normal;
        font-size: 1.5rem;
        opacity: 0.8;
    }

    .title-dark {
        color: $black-bis;
        font-weight: normal;
    }

    .subtitle-dark {
        color: $black-ter;
        font-weight: normal;
        opacity: 0.8;
    }
}

#about-container {
    margin-top: 2rem;
}

#about-photo {
    margin: 0rem;
}

#about-logo {
    margin: 0rem;
}

#about-name {
    margin: auto;
}

#about-tagline {
    text-align: justify;
    font-size: 1rem;
}

