/*
---------
VARIABLES
---------

This set of variables is used to derive the downstream stuff in the regular css files.
The colors override default bulma colors.

*/


/* FONTS */

$display-fonts: 'Patua One', serif;
$hero-fonts: 'Shrikhand', sans-serif;
$hero-subtitle-fonts: 'Karla', serif;
$subtitle-fonts: 'Alegreya', serif;
$reading-fonts: 'Karla', sans-serif;
$code-fonts: 'Inconsolata', monospace;

/* COLORS */

$black: #100B03 !default;
$black-bis: #18130D !default;
$black-ter: #38332A !default;
$grey-darker: #3F3B35 !default;
$grey-dark: #5E564B !default;
$grey: #8F8980 !default;
$grey-light: #BAB6AF !default;
$grey-lighter: #DCDBD9 !default;
$white-ter: #F0EFEF !default;
$white-bis: #F5F4F4 !default;
$white: #FAF9F9 !default;
$orange: #D85D44 !default;
$yellow: #FBD136 !default;
$green: #23D160 !default;
$turquoise: #8CC9BF !default;
$blue: #3A89C9 !default;
$purple: #9665C7 !default;
$red: #D34141 !default;