@import "variables.scss";

/*
Main scss file.
This creates the main.css file and the same variables can be used in the bulma variables.
*/

body {
    font-family: $reading-fonts;
    background-color: $white;
    color: $black;
}

h1 {
    font-family: $hero-fonts;
    font-size: 5rem;
    text-decoration: none;
}

a {
    color: $orange;

    &:hover {
        color: $blue;
    }
}

/* NAV */

.navbar {
    /* padding: 0rem 3rem 0rem 3rem; */
    background-color: $white;
    align-items: flex-end;
    font-family: $display-fonts;
    margin: auto;
}

.navbar-end a:hover,
.fa:hover {
    color: $blue;
}

.navbar-burger {
    margin-top: auto;
    height: 3.25rem;
}

#logo-text {
    font-weight: bold;
    font-size: 32px;
    justify-content: flex-start;
    font-family: $display-fonts;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
    transition: 0.2s ease-in-out;
}

#logo-img:hover {
    transform: rotate(180deg);
}

.fa {
    color: $black;
}


/* CONTENT */
/* THIS IS WHERE MARKDOWN IS RENDERED */
.content {

    h1 {
        font-family: $hero-fonts;
        font-size: 3rem;
        color: $black-bis;
        text-decoration: none;
    }

    h2 {
        font-family: $subtitle-fonts;
        font-size: 2rem;
        color: $black-ter;

        &:nth-of-type(1) {
            margin-top: 1rem;
        }

        &:not(:nth-of-type(1)) {
            margin-top: 4rem;
        }
    }

    h3 {
        font-family: $subtitle-fonts;
        font-size: 1.5rem;
        color: $grey-darker;
        margin-top: 2.5rem;
    }

    h4 {
        font-family: $subtitle-fonts;
        font-size: 1.25rem;
        color: $grey-dark;
        margin-top: 2rem;
    }

    p,
    ul,
    ol,
    li {
        color: $grey-dark;
        font-size: 1.125rem;
        text-align: justify;
    }

    hr {
        border-top: 1px dotted $grey-lighter;
    }

    /* code blocks */
    .hll {
        margin: 1rem;
    }

    /* admonitions */
    .admonition {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .admonition-note {
        background-color: $grey-lighter;
    }

    .admonition-info {
        background-color: $yellow;
    }

    .admonition-tip {
        background-color: $blue;

        p {
            color: $white;
        }
    }

    .admonition-warning {
        background-color: $orange;

        p {
            color: $white;
        }
    }

}

.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* HEROES AND SUBTITLES */

#about-hero {
    /* background dot pattern */
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='#2a363b'/><rect width='1' height='1' fill='#496069'/></svg>");
    background-repeat: repeat;
}

.title {
    font-family: $hero-fonts;
    font-weight: normal;
    font-size: 5rem;
}

.subtitle {
    font-family: $hero-subtitle-fonts;
    font-weight: normal;
    font-size: 1.5rem;
}

.title-light {
    color: $white-bis;
    text-shadow: 5px -5px 0 $orange;
}

.title-dark {
    color: $dark-fill;
}

.subtitle-light {
    color: $white-ter;
    opacity: 0.8;
}

.subtitle-dark {
    color: $dark-fill;
}


#about-container {
    margin-top: 2rem;
}

#about-photo {
    margin: 0rem;
}

#about-logo {
    margin: 0rem;
}

#about-name {
    margin: auto;
}

#about-tagline {
    text-align: justify;
    font-size: 1rem;
}

#about-cardtitle {
    font-family: $reading-fonts;
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}


/* FOOTER */

.footer {
    background-color: $dark-fill;
    color: $white;

    strong {
        color: $white;
    } 
}