/*
---------
VARIABLES
---------

This set of variables is used to derive the downstream stuff in the regular css files.
The colors override default bulma colors.

*/


/* FONTS */

$display-fonts: 'Patua One', serif;
$hero-fonts: 'Shrikhand', sans-serif;
$hero-subtitle-fonts: 'Karla', serif;
$subtitle-fonts: 'Alegreya', serif;
$reading-fonts: 'Karla', sans-serif;
$code-fonts: 'Inconsolata', monospace;

/* COLORS */

$black: #100B03;
$black-bis: #18130D;
$black-ter: #38332A;
$grey-darker: #3F3B35;
$grey-dark: #5E564B;
$grey: #8F8980;
$grey-light: #BAB6AF;
$grey-lighter: #DCDBD9;
$white-ter: #F0EFEF;
$white-bis: #F5F4F4;
$white: #FAF9F9;
$orange: #D85D44;
$yellow: #FBD136;
$green: #23D160;
$turquoise: #8CC9BF;
$blue: #3A89C9;
$purple: #9665C7;
$red: #D34141;

/* non-bulma colors */
$dark-fill: #2a363b;