.nav {
    height: 60px;
    align-items: flex-end;
    font-family: 'Patua One', serif;
}

.nav-toggle {
    margin: auto;
}


body {
    font-family: 'Droid Serif', ;
}


/* NAV */

#logo-text {
    font-weight: bold;
    font-size: 32px;
    justify-content: flex-start;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
}

