/* MAIN.CSS */

body {
    font-family: 'Droid Serif', serif;
}

/* NAV */
.nav {
    height: 60px;
    align-items: flex-end;
    font-family: 'Patua One', serif;
}

.nav-toggle {
    margin: auto;
}



#logo-text {
    font-weight: bold;
    font-size: 32px;
    justify-content: flex-start;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
}

h1 {
    font-family: 'Patua One', serif;
    font-size: 4.2rem !important;
}


.article-text {
    font-size: 20px;
}