@import "./custom_bulma.scss";

/*
Main scss file.
This creates the main.css file and the same variables can use bulma variables.
*/

body {
  font-family: var(--readingFonts);
  color: var(--textColor);
}

h1 {
  font-family: var(--heroFonts);
  font-size: 5rem;
  text-decoration: none;
}

a {
  color: var(--accent1Color);

  &:hover {
    color: var(--accent2Color);
  }
}

.hero-diamonds {
  height: 1.25rem;
  margin: 1rem auto;
}

.meta {
  text-align: center;
  margin-top: 1em;
}

.columns {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* RECIPES PAGE */
.recipes-container {
  margin: 0rem auto;
}

/* MODAL */


