@import "./custom_bulma.scss";

/*
Main scss file.
This creates the main.css file and the same variables can use bulma variables.
*/

body {
  font-family: var(--readingFonts);
  color: var(--textColor);
}

h1 {
  font-family: var(--heroFonts);
  font-size: 5rem;
  text-decoration: none;
}

a {
  color: var(--accent1Color);

  &:hover {
    color: var(--accent2Color);
  }
}

/** hero svgs for the main landing page */
.hero-badge {
  height: 40rem;
}

.hero-badge-mobile {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-diamonds {
  height: 1.25rem;
  margin: 1rem auto;
}


.meta {
  text-align: center;
  margin-top: 1em;
}

.columns {
  margin-left: 0rem;
  margin-right: 0rem;
}

/** PAGE SPACING */
.pagination {
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-content: center;

  // to keep the center item aligned regardless
  // of whether the sides are links or not
  .pagination-left,
  .pagination-right {
    flex-grow: 1;
    flex-basis: 0;
  }

  .pagination-text {
    color: var(--textColor);
    font-family: var(--heroFonts);
    font-size: 1.25rem;
  }

  .pagination-disabled figure {
    display: none;
  }

  figure {
    height: 2rem;
  }
}

.title {
  font-family: var(--heroFonts);
  font-weight: normal;
  font-size: 4.5rem;
  color: var(--titleTextColor);

  &:not(.is-spaced) + .subtitle {
    // override default bulma spacing
    margin-top: 0rem;
  }
}

.subtitle {
  font-family: var(--heroSubtitleFonts);
  font-weight: normal;
  font-size: 1.5rem;
  color: var(--titleTextColor);
}

/* RECIPES PAGE */
.recipes-container {
  margin: 0rem auto;
}

/* FOOD MENU */

.menu-content {
  .menu-drinks-logo {
    max-width: 15rem;
    // force important because the actual svg file doesn't get
    // exported with more specific classname/id.
    margin: 0rem auto !important;
  }

  .menu-text-header {
    display: inline-block;
  }

  // custom formatting for H2 headers in the menu
  details > summary,
  summary::-webkit-details-marker {
    list-style: none;
  }

  summary {
    font-size: 2rem;
    font-family: var(--heroFonts);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  summary::after {
    font-family: "icomoon";
    content: " \f13a";
  }
  details[open] summary:after {
    font-family: "icomoon";
    content: " \f139";
  }
}

/* MODAL */

.modal {
  .modal-content {
    background-color: var(--backgroundColor);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0rem 0.5rem;
    width: fit-content;
    min-height: 15rem;

    .modal-horizontal-separator {
      width: 8rem;
      padding: 1rem 0rem;
      margin-left: auto;
      margin-right: auto;
    }

    .modal-icon {
      width: 5rem;
      height: 5rem;
      padding: 0.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        a {
          display: flex;
          flex-flow: row nowrap;

          span {
            padding: 0.5rem;
            font-family: var(--subtitleFonts);
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--subtitleTextColor);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
          }
        }
      }
    }
  }
}
