/**
 * This set of variables is used to derive the downstream stuff in the regular
 * css files. This is _only_ for things that need to be used as part of a
 * selector. If it's something that's only ever used as a
 * _value_, it should go in the Variables.astro file.
 */

// INITIAL VARIABLES. Since some of the elements on the site (namely SVGs) have
// values prepopulated on first load, these are defined so that they can be used
// selectors.
$svgDefaultColor: #38332a;
$svgAlternateColor: #faf9f9;
$accent1DefaultColor: #f55a37;
$accent2DefaultColor: #359fb7;
$accent3DefaultColor: #83cab2;
$accent4DefaultColor: #e5c76c;
$accent5DefaultColor: #edebe8;
