/*
---------
VARIABLES
---------

This set of variables is used to derive the downstream stuff in the regular css files.
The colors override default bulma colors.

*/

/* FONTS */

$display-fonts: Patua One, Lucida Bright, serif;
$hero-fonts: Patua One, Lucida Bright, serif;
$hero-subtitle-fonts: "Work Sans", sans-serif;
$subtitle-fonts: Patua One, Lucida Bright, sans-serif;
$reading-fonts: "Work Sans", sans-serif;
$code-fonts: monaco, Consolas, Andale Mono, Lucida Console, monospace;

/* COLORS */
$svgDefaultColor: #38332a;
$svgAlternateColor: #faf9f9;
$accent1DefaultColor: #d85d44;
$accent2DefaultColor: #3a89c9;
$accent3DefaultColor: #9665c7;
$accent4DefaultColor: #fbd136;

html {
  --backgroundColor: #faf9f9;
  --backgroundAccentColor: #dcdbd9;
  --secondaryBackgroundColor: #2a363b;
  --titleTextColor: #100b03;
  --subtitleTextColor: #38332a;
  --textColor: #3f3b35;
  --accent1Color: #d85d44;
  --accent2Color: #3a89c9;
  --accent3Color: #9665c7;
  --accent4Color: #fbd136;
  --illustrationsColor: #3f3b35;
}

// If the user prefers dark mode, set the colors to match the
// dark mode palette.
@media (prefers-color-scheme: dark) {
  html {
    --backgroundColor: #2a363b;
    --backgroundAccentColor: #3c525c;
    --secondaryBackgroundColor: #faf9f9;
    --titleTextColor: #faf9f9;
    --subtitleTextColor: #dcdbd9;
    --textColor: #dcdbd9;
    --accent1Color: #fbd136;
    --accent2Color: #d85d44;
    --accent3Color: #3a89c9;
    --accent4Color: #9665c7;
    --illustrationsColor: #dcdbd9;
  }
}

// overridde bulma colors, this is to have it default to the light theme
$black: #100b03; // `icons` default body font, largely unused except for icons
$black-bis: #18130d; // `titleText` title, subtitle, h1
$black-ter: $svgDefaultColor; // `subtitleText` h2
$grey-darker: #3f3b35; // `text` main text color, h3-6
$grey-dark: #5e564b; // unused
$grey: #8f8980; // unused
$grey-light: #bab6af; // unused
$grey-lighter: #dcdbd9; // `backgroundAccent` used by <hr> + footer border
$white-ter: #f0efef; // unused
$white-bis: #f5f4f4; // unused
$white: #faf9f9; // `background`

// bulma-required colors
$orange: #d85d44;
$yellow: #fbd136;
$green: #23d160;
$turquoise: #8cc9bf;
$blue: #3a89c9;
$purple: #9665c7; // `code` inline code segments
$red: #d34141;

/* non-bulma colors */
$dark-fill: #2a363b; // `secondaryBackground`, titles
