{% macro render_blog_post(post, from_index=false) %}
  <section class="section">
    <div class="blog-post">
      <h2><a class="title title-dark is-size-2-touch" href="{{ post|url }}">{{ post.title }}</a></h2>
      <p class="meta">
        written by
        {% if post.twitter_handle %}
          <a href="https://twitter.com/{{ post.twitter_handle
            }}">{{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
        on {{ post.pub_date }}
      </p>
      <img class="image" id="hero-diamonds" src="/img/diamonds-dark.svg">
      <div class="content">
      {{ post.body }}
      </div>
    </div>
  </section>
{% endmacro %}
