{% macro render_head(post) %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/css/bulma.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/css/main.min.css'|asseturl }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400|Inconsolata|Patua+One|Shrikhand" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ '/media/favicon-32x32.png'|asseturl }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ '/media/favicon-16x16.png'|asseturl }}" sizes="16x16" />
<title>zmsy | {{ post.title }}</title>
{% endmacro %}
