{% macro render_head(post) %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if description %}
<meta name="description" content="{{post.description}}" />
<meta name="og:description" content="{{post.description}}" />
{% else %}
<meta name="description" content="Personal blog and gallery featuring a number of projects that I've worked on, and whimsical musings about technology, music, and games." />
<meta name="og:description" content="Personal blog and gallery featuring a number of projects that I've worked on, and whimsical musings about technology, music, and games." />
{% endif %}

{% if post.title %}
<meta name="og:title" content="Zach Morrissey - {{ post.title }}" />
{% else %}
<meta name="og:title" content="Zach Morrissey - Software engineer and data analyst. Seattle WA." />
{% endif %}

<link rel="stylesheet" href="{{ '/css/bulma.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/css/main.min.css'|asseturl }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Work+Sans:400,700|Fira+Mono:400,700|Patua+One|Shrikhand" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ '/media/favicon-32x32.png'|asseturl }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ '/media/favicon-16x16.png'|asseturl }}" sizes="16x16" />
<title>zmsy | {{ post.title }}</title>
{% endmacro %}
