<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  {{ with .Site.LanguageCode }} xml:lang="{{.}}" lang="{{.}}" {{end}}
  class="is-clipped"
>
<head>
  {{ partial "header/site.html" . }}
  {{ partial "header/includes.html" . }}
  {{ partial "header/seo.html" . }}
</head>
<body>
  {{ partialCached "modal.html" . }}
  {{ partialCached "nav.html" . }}
  <div id="body">
    {{ block "main" . }}
    <!-- Main content div -->
    {{ end }}
  </div>
  {{ partialCached "footer.html" . }}
  {{ partial "scripts.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</body>
</html>