{{ define "main" }}
<section class="hero is-medium" id="hero">
  <div class="hero-body" id="hero-body">
    <div class="container has-text-centered">
      <div class="is-hidden-tablet">
        {{ partial "svg.html" (dict "src" "assets/img/home-logo-scribble-mobile.svg" "class" "hero-badge-mobile") }}
      </div>
      <div class="is-hidden-mobile">
        {{ partial "svg.html" (dict "src" "assets/img/home-logo-scribble.svg" "class"
        "hero-badge") }}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns home-columns is-centered is-multiline">
    <div class="column is-3-desktop is-4-tablet-only has-text-centered">
      <a href="/blog" class="home-link">
        {{ partial "svg.html" (dict "src" "assets/img/blog-logo.svg" "class"
        "column-logo") }}
        {{ partial "svg.html" (dict "src" "assets/img/diamonds-dark.svg" "class"
        "hero-diamonds") }}
        <h2 class="home-title">Blog</h2>
      </a>
      <p>{{ $.Params.blog_tagline }}</p>
    </div>
    <div class="column is-3-desktop is-4-tablet-only has-text-centered">
      <a href="/projects" class="home-link">
        {{ partial "svg.html" (dict "src" "assets/img/projects-logo.svg" "class"
          "column-logo") }}
        {{ partial "svg.html" (dict "src" "assets/img/diamonds-dark.svg" "class"
        "hero-diamonds") }}
        <h2 class="home-title">Projects</h2>
      </a>
      <p>{{ $.Params.projects_tagline }}</p>
    </div>
    <div class="column is-3-desktop is-4-tablet-only has-text-centered">
      <a href="/about" class="home-link">
        {{ partial "svg.html" (dict "src" "assets/img/about-logo.svg" "class"
        "column-logo") }}
        {{ partial "svg.html" (dict "src" "assets/img/diamonds-dark.svg" "class"
        "hero-diamonds") }}
        <h2 class="home-title">About Me</h2>
      </a>
      <p>{{ $.Params.about_me_tagline }}</p>
    </div>
  </div>
</section>
{{ end }}
