<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Site.BaseURL }}"
      },
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ with $.Params.Description }}{{ $.Params.Description }}{{ end }}",
      "inLanguage" : "en-US",
      "author" : "{{ with .Site.Params.AuthorName }}{{ . }}{{ end }}",
      "creator" : "{{ with .Site.Params.AuthorName }}{{ . }}{{ end }}",
      "publisher": "{{ with .Site.Params.AuthorName  }}{{ . }}{{ end }}",
      "copyrightHolder" : "{{ with .Site.Params.AuthorName }}{{ . }}{{ end }}",
      "copyrightYear" : "{{ now.Format "2006" }}",
      "datePublished": "2018-01-31",
      "dateModified" : "{{ now.Format "2006-01-02T15:04:05Z0700" }}",
      "url" : "{{ .Permalink }}",
      "keywords" : [ {{ if isset .Params "keywords" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
  }
</script>
