<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}} | zmsy.co</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Inconsolata|Roboto|Patua+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="./static/css/main.min.css">
    <link rel="icon" type="image/png" href="./static/media/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./static/media/favicon-16x16.png" sizes="16x16" />
    {% block includes %} {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar" id="top">
            <div class="navbar-brand">
                <a class="navbar-item" href="index">
                    <img id="logo-img" src="./static/media/logo.svg" alt="zmsy.co - Home">
                </a>
                <a class="navbar-item" href="index">
                    <div class="is-3" id="logo-text">zmsy.co</div>
                </a>
                <span class="navbar-burger" id="navbar-toggle">
            <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-hidden-touch" href="https://www.linkedin.com/in/zach-morrissey-6b096431/">
                        <span class="icon"> <i class="fa fa-linkedin-square"></i> </span>
                    </a>
                    <a class="navbar-item is-hidden-touch" href="https://github.com/zmsy">
                        <span class="icon"> <i class="fa fa-github"></i> </span>
                    </a>
                    <a class="navbar-item is-hidden-touch" href="https://twitter.com/_zmsy">
                        <span class="icon"> <i class="fa fa-twitter"></i> </span>
                    </a>
                    <a class="navbar-item is-tab" href="../home">Home</a>
                    <a class="navbar-item is-tab" href="../blog">Blog</a>
                    <a class="navbar-item is-tab" href="../projects">Projects</a>
                    <a class="navbar-item is-tab" href="../about">About</a>
                </div>
            </div>
        </nav>
        <section class="section" id="main">
            <div class="container content" id="main">
                {% block content %} {% endblock %}
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p id="footer-text"><strong>zmsy.co</strong> - A personal blog by Zach Morrissey. Copyright © <span id="yearText"></span></p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="./static/js/main.min.js"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-104524581-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>