---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/head/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"Page Not Found"}
      description={"Couldn't find what you were looking for. Sorry!"}
    />
  </head>
  <body>
    <Navigation />
    <main>
      <article>
        <h1>Page not found! Go back <a href="/">home</a>?</h1>
      </article>
    </main>
    <Footer />
  </body>
</html>
