{{ define "main" }} {{ partial "hero.html" . }}
<section class="section" id="main">
  <div class="container" id="about-container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <!-- image -->
          <div class="card-image">
            <figure class="image is-4by3" id="about-photo">
              <img src="/img/about.jpg" alt="My dog Howie and myself." />
            </figure>
          </div>

          <!-- card content -->
          <div class="card-content">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p class="image is-48x48" id="about-logo">
                    <img
                      src="/media/logo.svg"
                      alt="Zach Morrissey & Howie the Dog"
                    />
                  </p>
                </div>

                <div class="level-item">
                  <p id="about-cardtitle">{{ .Site.Params.AuthorName }}</p>
                  <p>
                    <a href="https://twitter.com/{{ .Site.Params.TwitterHandle }}">
                      @{{ .Site.Params.TwitterHandle }}
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <hr class="hr-subtitle" />

            <div class="content about-content">
              {{ .Params.Tagline | markdownify }}
            </div>

            <!-- level -->
            <div class="level is-mobile">
              <a class="level-item" href="mailto:zachjmorrissey@gmail.com">
                <span class="icon"><i class="fa fa-envelope"></i></span>
              </a>
              <a
                class="level-item"
                href="https://www.linkedin.com/in/zach-morrissey-6b096431/"
              >
                <span class="icon"><i class="fa fa-linkedin-square"></i></span>
              </a>
              <a class="level-item" href="https://twitter.com/_zmsy">
                <span class="icon"><i class="fa fa-twitter"></i></span>
              </a>
              <a class="level-item" href="https://github.com/zmsy">
                <span class="icon"><i class="fa fa-github"></i></span>
              </a>
              <a
                class="level-item"
                href="https://www.instagram.com/howiethesamoyed"
                alt="Like the dog? Here's his Instagram!"
              >
                <span class="icon"><i class="fa fa-paw"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
