@charset "UTF-8";

// 1. Import the initial variables
@import "./bulma/sass/base/minireset.sass";
@import "./bulma/sass/utilities/initial-variables";
@import "./bulma/sass/utilities/functions";

// 2. Set custom variables
@import "./variables.scss";

// 3. import the rest of ./bulma that we care about
@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/sass/base/generic.sass";
@import "./bulma/sass/base/helpers.sass";
@import "./bulma/sass/layout/_all.sass";
@import "./bulma/sass/grid/_all.sass";
@import "./bulma/sass/components/card.sass";
@import "./bulma/sass/components/level.sass";
@import "./bulma/sass/components/navbar.sass";
@import "./bulma/sass/components/list.sass";
@import "./bulma/sass/components/pagination.sass";
@import "./bulma/sass/elements/container.sass";
@import "./bulma/sass/elements/image.sass";
@import "./bulma/sass/elements/title.sass";
@import "./bulma/sass/elements/content.sass";
