@import "./custom_bulma.scss";

/*
Main scss file.
This creates the main.css file and the same variables can be used in the bulma variables.

Example comment that I'm making. Here's more comments.
*/

html {
    background-color: $dark-fill;
}

body {
    font-family: $reading-fonts;
    background-color: $white;
    color: $black;
}

h1 {
    font-family: $hero-fonts;
    font-size: 5rem;
    text-decoration: none;
}

a {
    color: $orange;

    &:hover {
        color: $blue;
    }
}

/* NAV */

.navbar {
    /* padding: 0rem 3rem 0rem 3rem; */
    background-color: $white;
    align-items: flex-end;
    font-family: $display-fonts;
    margin: auto;
}

.navbar-menu {
    box-shadow: none;
}

.navbar-item {
    color: $black-ter;
}

#navbar-columns {
    margin-bottom: 0rem;
}

#navbar-column {
    padding-bottom: 0rem;
}

.navbar-end a:hover,
.fa:hover {
    color: $blue;
}

.navbar-burger {
    margin-top: auto;
    height: 3.25rem;
}

#logo-text {
    font-size: 32px;
    justify-content: flex-start;
    font-family: $display-fonts;
}

#logo-img {
    padding: 0px;
    justify-content: flex-end;
    width: 40px;
    transition: 0.2s ease-in-out;
}

#logo-img:hover {
    transform: rotate(180deg);
}

.fa {
    color: $black;
}

.meta {
    text-align: center;
    margin-top: 1em;
}


/* CONTENT */
/* THIS IS WHERE MARKDOWN IS RENDERED */
.content {

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0rem !important;
    }

    h1 {
        font-family: $hero-fonts;
        font-size: 3rem;
        font-weight: 700;
        color: $black-bis;
        text-decoration: none;
    }

    h2 {
        font-family: $subtitle-fonts;
        font-size: 2rem;
        font-weight: 400;
        color: $black-ter;

        &:nth-of-type(1) {
            margin-top: 1rem;
        }

        &:not(:nth-of-type(1)) {
            margin-top: 4rem;
        }
    }

    h3 {
        font-family: $subtitle-fonts;
        font-size: 1.5rem;
        font-weight: 400;
        color: $grey-darker;
        margin-top: 2.5rem;
    }

    h4 {
        font-family: $subtitle-fonts;
        font-size: 1.25rem;
        font-weight: 400;
        color: $grey-darker;
        margin-top: 2rem;
    }

    p,
    ul,
    ol,
    li {
        color: $grey-darker;
        font-size: 1.2rem;
        text-align: justify;
    }

    strong {
        color: $grey-dark;
        font-family: $subtitle-fonts;
        font-weight: 400;
    }

    hr {
        border-top: 1px dotted $grey-lighter;
    }

    img {
        border: 1px solid $black-bis;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .no-border {
        border: none;
    }

    /* icon */
    .fa {
        font-size: 1rem;
    }

    /* code blocks */
    .hll {
        margin-bottom: 1rem;
        font-family: $code-fonts;
        font-size: 0.875rem;
    }

    pre {
        background-color: $white-ter;
        font-family: $code-fonts;
        font-size: 0.875rem;
    }

    code {
        color: $purple;
        font-family: $code-fonts;
        font-size: 0.875rem;
    }

    /* admonitions */
    .admonition {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .admonition-info,
    .admonition-note {
        background-color: $yellow;
    }

    .admonition-tip {
        background-color: $blue;

        p {
            color: $white;
        }
    }

    .admonition-warning {
        background-color: $orange;

        p {
            color: $white;
        }
    }

    & .twitter-tweet {
       margin-left: auto;
       margin-right: auto;
       border: 1px solid $grey;
       border-radius: 0.4rem; 
    }
}

.blog-post {
    margin-bottom: 8rem;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* HEROES AND SUBTITLES */

#hero {
    & > #hero-body {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.title {
    font-family: $hero-fonts;
    font-weight: normal;
    font-size: 4.5rem;
}

.subtitle {
    font-family: $hero-subtitle-fonts;
    font-weight: normal;
    font-size: 1.5rem;
}

.title-light {
    color: $white-bis;
    text-shadow: 5px -5px 0 $orange;
}

.title-dark {
    color: $dark-fill;
}

.subtitle-light {
    color: $white-ter;
    opacity: 0.8;
}

.subtitle-dark {
    color: $dark-fill;
}


#about-container {
    margin-top: 2rem;
}

#about-photo {
    margin: 0rem;
}

#about-logo {
    margin-top: 0.5rem;    
}

#about-name {
    margin: auto;
}

.about-content {
    & p {
        font-size: 1rem;
    }
}

#about-cardtitle {
    font-family: $subtitle-fonts;
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.hero-title {
    font-size: 5.5rem;
}

#hero-badge {
    margin-bottom: -11.75rem;
    height: 30rem;
}

#hero-badge {
    margin-top: 1rem;
    margin-bottom: -11.75rem;
    height: 30rem;
}

#hero-diamonds {
    height: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#home-main-section {
    padding-top: 12rem;
}

.home-columns {
    margin-top: 12rem;

    h2 {
        font-family: $subtitle-fonts;
        font-size: 2rem;
        color: $black-ter;
    }

    i {
        font-size: 2.5rem;
    }

    p {
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        font-size: 1.125rem;
    }

    .column-logo {
        height: 100px;
        width: 100px;
        margin: auto;
    }

    & .home-title {
        margin-bottom: 1rem;
    }

}


/* FOOTER */

.footer {
    background-color: $dark-fill;
    color: $white;
    border-top: 1rem solid $grey-lighter;

    strong {
        color: $white;
    } 

    & .footer-dots {
        width: 25rem;
        margin-top: 1rem;
    }
}
