@import "./custom_bulma.scss";

/*
Main scss file.
This creates the main.css file and the same variables can use bulma variables.
*/

html {
  background-color: var(--secondaryBackgroundColor);
}

body {
  font-family: $reading-fonts;
  background-color: var(--backgroundColor);
  color: var(--textColor); // replace with --text
}

h1 {
  font-family: $hero-fonts;
  font-size: 5rem;
  text-decoration: none;
}

a {
  color: var(--accent1Color);

  &:hover {
    color: var(--accent2Color);
  }
}

/* NAV */

.navbar {
  /* padding: 0rem 3rem 0rem 3rem; */
  background-color: var(--backgroundColor);
  align-items: flex-end;
  font-family: $display-fonts;
  margin: auto;
}

.navbar-menu {
  box-shadow: none;
}

.navbar-item {
  color: var(--subtitleTextColor);
}

#navbar-columns {
  margin-bottom: 0rem;
}

#navbar-column {
  padding-bottom: 0rem;
}

.navbar-end a:hover,
.fa:hover {
  color: var(--accent2Color);
}

.navbar-burger {
  margin-top: auto;
  height: 3.25rem;
}

#dark-mode-button {
  width: 6rem;
}

#logo-text {
  font-size: 32px;
  justify-content: flex-start;
  font-family: $display-fonts;
}

#logo-img {
  padding: 0px;
  justify-content: flex-end;
  width: 40px;
  transition: 0.2s ease-in-out;
}

#logo-img:hover {
  transform: rotate(180deg);
}

// font-awesome
.fa {
  color: var(--titleTextColor);
}

.meta {
  text-align: center;
  margin-top: 1em;
}

/* CONTENT */
/* THIS IS WHERE MARKDOWN IS RENDERED */
.content {
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0rem !important;
  }

  h1 {
    font-family: $hero-fonts;
    font-size: 3rem;
    font-weight: 700;
    color: var(--titleTextColor);
    text-decoration: none;
  }

  h2 {
    font-family: $subtitle-fonts;
    font-size: 2rem;
    font-weight: 400;
    color: var(--titleTextColor);

    &:nth-of-type(1) {
      margin-top: 1rem;
    }

    &:not(:nth-of-type(1)) {
      margin-top: 4rem;
    }
  }

  h3 {
    font-family: $subtitle-fonts;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--subtitleTextColor);
    margin-top: 2.5rem;
  }

  h4 {
    font-family: $subtitle-fonts;
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--subtitleTextColor);
    margin-top: 2rem;
  }

  h5,
  h6 {
    font-family: $subtitle-fonts;
    color: var(--subtitleTextColor);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.5rem;
  }

  p,
  ul,
  ol,
  li {
    color: var(--textColor);
    font-size: 1.2rem;
    text-align: justify;
  }

  strong {
    color: var(--textColor);
    font-family: $subtitle-fonts;
    font-weight: 400;
  }

  hr {
    border-top: 1px dotted var(--backgroundAccentColor);
  }

  img {
    border: 1px solid var(--titleTextColor);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .no-border {
    border: none;
  }

  /* icon */
  .fa {
    font-size: 1rem;
  }

  /* code blocks */
  .hll {
    margin-bottom: 1rem;
    font-family: $code-fonts;
    font-size: 0.875rem;
  }

  pre {
    font-family: $code-fonts;
    font-size: 0.875rem;
  }

  code {
    color: var(--accent3Color);
    background-color: var(--backgroundAccentColor);
    font-family: $code-fonts;
    font-size: 0.875rem;
  }

  /* admonitions */
  .admonition {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .admonition-info,
  .admonition-note {
    background-color: var(--accent4Color);
  }

  .admonition-tip {
    background-color: var(--accent2Color);

    p {
      color: var(--backgroundColor);
    }
  }

  .admonition-warning {
    background-color: var(--accent1Color);

    p {
      color: var(--backgroundColor);
    }
  }

  & .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--titleTextColor);
    border-radius: 0.5rem;
  }

  /* SVG files included in-line w text. */
  figure {
    // Most SVG files should retain the same default height across posts
    // for continuity. If a given graphic should be _larger_ than this,
    // add a custom class or style to it.
    height: 12rem;
  }
}

/** SVG */
.color-responsive-svg {
  // Paths match the text color
  // Text in font must be exported as curves
  path {
    // using important here because it gets overridden by the inline
    // stroke color
    stroke: var(--textColor) !important;
  }

  g {
    text {
      fill: var(--textColor) !important;
    }

    // select any rectangles with a stroke
    rect[stroke] {
      stroke: var(--textColor) !important;
    }

    rect[style*="#{$svgDefaultColor}"] {
      fill: var(--textColor) !important;
    }
  }
}

svg {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/** PAGE SPACING */
.blog-post {
  margin-bottom: 8rem;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* HEROES AND SUBTITLES */

#hero {
  & > #hero-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.title {
  font-family: $hero-fonts;
  font-weight: normal;
  font-size: 4.5rem;
  color: var(--titleTextColor);
}

.subtitle {
  font-family: $hero-subtitle-fonts;
  font-weight: normal;
  font-size: 1.5rem;
  color: var(--titleTextColor);
}

#about-container {
  margin-top: 2rem;
}

#about-photo {
  margin: 0rem;
}

#about-logo {
  margin-top: 0.5rem;
}

#about-name {
  margin: auto;
}

.about-content {
  & p {
    font-size: 1rem;
  }
}

#about-cardtitle {
  font-family: $subtitle-fonts;
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.hero-title {
  font-size: 5.5rem;
}

#hero-badge {
  margin-top: 1rem;
  margin-bottom: -11.75rem;
  height: 40rem;
}

#hero-diamonds {
  height: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#home-main-section {
  padding-top: 12rem;
}

.home-columns {
  margin-top: 12rem;

  h2 {
    font-family: $subtitle-fonts;
    font-size: 2rem;
    color: var(--subtitleTextColor);
  }

  i {
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.125rem;
  }

  .column-logo {
    height: 100px;
    width: 100px;
    margin: auto;
  }

  & .home-title {
    margin-bottom: 1rem;
    // color: var(--textColor);
  }
}

/* FOOTER */

.footer {
  background-color: var(--secondaryBackgroundColor);
  color: var(--backgroundColor);
  border-top: 1rem solid var(--backgroundAccentColor);

  strong {
    color: var(--backgroundColor);
  }

  & .footer-dots {
    width: 25rem;
    margin-top: 1rem;
  }
}
