---
/**
 * Full width hero text.
 */
export interface props {
  /** Main hero text. */
  title: string;
  /** Subtitle text below the main hero text. */
  subtitle?: string;
}

import InlineSvg from "./InlineSvg.astro";

const { title, subtitle } = Astro.props;
---

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{title}</h1>
      {subtitle !== undefined && <h2 class="subtitle">{subtitle}</h2>}
      <InlineSvg
        file={"/src/svg/diamonds-dark.svg"}
        className={"hero-diamonds"}
      />
    </div>
  </div>
</section>
<style lang="scss">
  @use "../../node_modules/bulma/sass/utilities/mixins.sass" as bulma_mixins;
  .hero {
    margin: 1.5rem 0rem;

    .hero-body {
      padding: 0rem;

      div {
        text-align: center;
      }

      .container {
        @include bulma_mixins.touch {
          h1 {
            font-size: 3.5rem;
          }

          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
</style>
