---
/**
 * Generic pagination component.
 */
import type { Page } from "astro";
import InlineSvg from "./InlineSvg.astro";

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = { page: Page };

const { page } = Astro.props;
---

<div>
  <a
    href={page.url.prev ?? ""}
    class:list={[{ "pagination-disabled": page.url.prev === undefined }]}
  >
    <InlineSvg
      file="/src/svg/pagination-arrow-left.svg"
      className={"pagination-arrow"}
    />
  </a>
  <span>Page {page.currentPage} of {page.lastPage}</span>
  <a
    href={page.url.next ?? ""}
    class:list={[{ "pagination-disabled": page.url.next === undefined }]}
  >
    <InlineSvg
      file="/src/svg/pagination-arrow-right.svg"
      className={"pagination-arrow"}
    />
  </a>
</div>
<style lang="scss">
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  // to keep the center item aligned regardless
  // of whether the sides are links or not
  a {
    flex-grow: 1;
    flex-basis: 0;
  }

  span {
    color: var(--textColor);
    font-family: var(--heroFonts);
    font-size: 1.25rem;
  }

  .pagination-disabled figure {
    display: none;
  }

  .pagination-arrow {
    height: 2rem;
  }
</style>
