---
/**
 * Recipes can be split up into sections, and this is a component that can be
 * rendered inline with the rest of the instructions.
 */
import * as z from "astro/zod";
import type { recipeInstructionsSection } from "../content/config";

type Props = z.infer<typeof recipeInstructionsSection>;
const { recipeInstructions, title, anchor } = Astro.props;
---

<div id={anchor}>
  <h3>
    <a href={`#${anchor}`}>How To &#8250&#8250</a>
    <span class="title">{title}</span>
  </h3>
  <ul>
    {recipeInstructions.map((instruction) => <li>{instruction}</li>)}
  </ul>
</div>
<style>
  div {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
  }

  a {
    color: var(--accent2Color);
  }

  .title {
    margin-left: 0.25rem;
    font-family: var(--readingFonts);
    /* font-size: 1.125rem; */
  }

  h3 {
    font-family: var(--heroFonts);
    color: var(--textColor);
    font-size: 1.25rem;
    margin: 0rem 0rem 0.5rem;
    border-bottom: 1px solid var(--accent4Color);
  }

  ul {
    list-style-type: circle;
    list-style-position: outside;
  }

  li {
    margin-left: 1rem;
  }
</style>
