<section class="section">
  <div class="blog-post">
    <h2><a class="title title-dark is-size-2-touch" href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="meta">
      written by
      <a href="https://twitter.com/{{ .Site.Params.TwitterHandle }}">
        {{ .Site.Params.AuthorName }}
      </a>
      on {{ .PublishDate.Format "2006-01-02" }}
    </p>
    {{ partial "svg.html" (dict "src" "static/img/diamonds-dark.svg" "class" "hero-diamonds") }}
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
