<div class="pagination">

  <a
    class="pagination-left {{ if not .HasPrev }}pagination-disabled{{ end }}"
    href="{{ if .HasPrev }}{{ .Prev.URL }}{{ end }}"
  >
    {{ partial "svg.html" (dict
      "src" "assets/img/pagination-arrow-left.svg"
    ) }}
  </a>

  <span class="pagination-text">Page {{ .PageNumber }} of {{ .TotalPages }}</span>

  <a
    class="pagination-left {{ if not .HasNext }}pagination-disabled{{ end }}"
    href="{{ if .HasNext }}{{ .Next.URL }}{{ end }}"
  >
    {{ partial "svg.html" (dict
      "src" "assets/img/pagination-arrow-right.svg"
    ) }}
  </a>


</div>