<div class="recipe">
  <div class="recipe-header">
    <h1>Recipe: <span class="recipe-header-prefix">{{ .Title }}</span></h1>
    <p>{{ .Description }}</p>
  </div>
  <hr>
  <div class="recipe-ingredients">
    <h2>Ingredients</h2>
    <ul>
      {{ range $i := .Params.RecipeIngredients }}
      <li>{{ $i }}</li>
      {{ end }}
    </ul>
  </div>
  <div class="recipe-instructions">
    <h2>Instructions</h2>
    <ul>
      {{ range $i := .Params.RecipeInstructions }}
      <li>{{ $i }}</li>
      {{ end }}
    </ul>
  </div>
</div>