<div class="card recipe-card">
  <p>{{ printf "%#v" . }}</p>
  <div class="card-image recipe-card-image">
    {{/*  {{ partial "figure.html" (dict 
      "class" "image is-4by3"
      "alt" "Image of {{ .Title }} recipe."
    )}}  */}}
  </div>
  <div class="card-content recipe-card-content">
    <a class="title recipe-card-title" href="{{ .Permalink }}">{{ .Title }}</a>
    <p class="subtitle recipe-card-subtitle is-6">{{ .Params.Kingdom }} > {{ .Params.Category }}</p>
    <hr>
    <p class="recipe-card-description">{{ .Description }}</p>
    <p class="recipe-card-date">{{ .PublishDate.Format "Jan 2, 2006" }}</p>
  </div>
</div>