{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section class="hero is-medium" id="about-hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title title-light">{{ this.title }}</h1>
      <h2 class="subtitle subtitle-light">{{ this.subtitle }}</h2>
    </div>
  </div>
</section>
<section class="section" id="main">
  <div class="container content" id="about-container">
    <div class="columns is-centered">
      <div class="column is-6">
        {{ this.body }}
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3" id="about-photo">
              <img src="/img/about.jpg" alt="My dog Howie and myself.">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48" id="about-logo">
                  <img src="/media/logo.svg" alt="Zach Morrissey & Howie the Dog">
                </figure>
              </div>
              <div class="media-content" id="about-name">
                <p class="title is-4">{{ this.author }}</p>
              </div>
          </div>
          <div class="content">
            <p id="about-tagline">{{ this.tagline }}</p>
          </div>
          <div class="level is-mobile">
            <a class="level-item" href="mailto:zachjmorrissey@gmail.com">
              <span class="icon"><i class="fa fa-envelope"></i></span>
            </a>
            <a class="level-item" href="https://www.linkedin.com/in/zach-morrissey-6b096431/">
              <span class="icon"><i class="fa fa-linkedin-square"></i></span>
            </a>
            <a class="level-item" href="https://twitter.com/_zmsy">
              <span class="icon"><i class="fa fa-twitter"></i></span>
            </a>
            <a class="level-item" href="https://github.com/zmsy">
              <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a class="level-item" href="https://www.instagram.com/howiethesamoyed" alt="Like the dog? Here's his Instagram!">
              <span class="icon"><i class="fa fa-paw"></i></span>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}