{% extends "main.html" %}
{% block content %}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">About Me</h1>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <p>This site is created and maintained by me, Zach Morrissey. I created it from scratch using a number of different technologies:</p>
        <ul>
          <li><b>Python</b> - Visual analysis, data prep, pretty much anything actually.</li>
          <li><b>Lektor</b> - For content management. Soon to be for static site generation.</li>
          <li><b>Bulma</b> - Excellent CSS-only front-end framework that drastically simplifies structuring a website.</li>
          <li><b>HTML/CSS/JS</b> - The basics.</li>
          <li><b>Webpack</b> - Bundling all of my resources and being able to define frontend dependencies easily.</li>
          <li><b>Let's Encrypt</b> - So I can serve this website over HTTPS (still working on it).</li>
        </ul>
        <p>I live in Seattle, WA with my girlfriend and my dog Howie (pictured to the right). Interests include good beer, photography, music and music technology, guitars, tinkering with electronics, stats, data visualization, football, baseball, videogames, and computers.</p>
        <p>This site was built with the purpose of becoming more familiar with the processes involved in building and deploying a website, organizing my app code to correctly serve multiple request endpoints, and most importantly for shameless self-promotion.</p>
        <p>All photos on the site are taken by me, with the exception of ones clearly labeled with their sources below them. All SVG, data visualizations, etc, are created by me.</p>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3" id="about-photo">
              <img src="./static/img/about.jpg" alt="My dog Howie and myself.">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48" id="about-logo">
                  <img src="./static/media/logo.svg" alt="Zach Morrissey & Howie the Dog">
                </figure>
              </div>
              <div class="media-content" id="about-name">
                <p class="title is-4">Zach Morrissey</p>
              </div>
          </div>
          <div class="content">
            <p id="about-tagline">Fire me an email if you'd like to connect or have questions about what you're looking at on the site.</p>
          </div>
          <div class="level is-mobile">
            <a class="level-item" href="mailto:zachjmorrissey@gmail.com">
              <span class="icon"><i class="fa fa-envelope"></i></span>
            </a>
            <a class="level-item" href="https://www.linkedin.com/in/zach-morrissey-6b096431/">
              <span class="icon"><i class="fa fa-linkedin-square"></i></span>
            </a>
            <a class="level-item" href="https://twitter.com/_zmsy">
              <span class="icon"><i class="fa fa-twitter"></i></span>
            </a>
            <a class="level-item" href="https://github.com/zmsy">
              <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a class="level-item" href="https://www.instagram.com/howiethesamoyed" alt="Like the dog? Here's his Instagram!">
              <span class="icon"><i class="fa fa-paw"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}