{% extends "main.html" %}
{% block content %}
    <h1 class="title is-1">Welcome to zmsy.co</h2>
    <p class="article-text">This is an example of some of the text that I would be putting on screen in a normal fashion. I'm going to write a few sentences so that it seems like i've got a bunch of content ready for display. I'm going to eventually fill this space with a number of things that are readily exciting to me, including a spinning display of some of the projects that I've worked on and the analysis that I've done in the past.</p>
{% endblock %}