{% extends "layout.html" %}
{% from "macros/hero.html" import render_hero %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section class="hero is-medium" id="hero">
  <div class="hero-body" id="hero-body">
    <div class="container has-text-centered">
      <h1 class="hero-title title-light is-size-1-mobile">{{ this.title }}</h1>
      <img class="is-centered" id="hero-badge" src="/img/badge.svg" alt="Things that I do.">
    </div>
  </div>
</section>
<section>
  <div class="columns home-columns is-centered is-multiline">
    <div class="column is-3-desktop is-4-tablet-only has-text-centered">
      <a href="/blog">
        <img class="column-logo" src="/img/blog-logo.svg">
      </a>
      <a href="/blog"><h2 class="home-title">Blog</h2></a>
      <img class="image" id="hero-diamonds" src="/img/diamonds-dark.svg">
      <p>{{this.blog_tagline}}</p>
    </div>
    <div class="column is-3-desktop is-4-tablet-only has-text-centered">
      <a href="/projects">
        <img class="column-logo" src="/img/projects-logo.svg">
      </a>
      <a href="/projects"><h2 class="home-title">Projects</h2></a>
      <img class="image" id="hero-diamonds" src="/img/diamonds-dark.svg">
      <p>{{this.projects_tagline}}</p>
    </div>
    <div class="column is-3-desktop is-4-tablet-only has-text-centered">
      <a href="/about">
        <img class="column-logo" src="/img/about-logo.svg">
      </a>
      <a href="/about"><h2 class="home-title">About Me</h2></a>
      <img class="image" id="hero-diamonds" src="/img/diamonds-dark.svg">
      <p>{{this.about_me_tagline}}</p>
    </div>
  </div>
</section>
{{ this.body }}
{% endblock %}