<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/bulma.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.min.css'|asseturl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Inconsolata|Roboto|Patua+One|Monoton" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ '/media/favicon-32x32.png'|asseturl }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ '/media/favicon-16x16.png'|asseturl }}" sizes="16x16" />
  <title>{% block title %}welcome{% endblock %} | zmsy</title>
  {% block includes %} {% endblock %}
</head>
  <div class="columns is-centered">
    <div class="column is-10">
      <nav class="navbar" role="navigation" id="top">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ '/'|url }}">
            <img id="logo-img" src="{{ '/media/logo.svg'|asseturl }}" alt="zmsy.co - Home">
          </a>
          <a class="navbar-item" href="{{ '/'|url }}">
            <div class="is-3" id="logo-text">zmsy.co</div>
          </a>
          <span class="navbar-burger" id="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-hidden-touch" href="https://www.linkedin.com/in/zach-morrissey-6b096431/">
              <span class="icon"> <i class="fa fa-linkedin-square"></i> </span>
            </a>
            <a class="navbar-item is-hidden-touch" href="https://github.com/zmsy">
              <span class="icon"> <i class="fa fa-github"></i> </span>
            </a>
            <a class="navbar-item is-hidden-touch" href="https://twitter.com/_zmsy">
              <span class="icon"> <i class="fa fa-twitter"></i> </span>
            </a>
            <a class="navbar-item is-tab" href="/">Home</a>
            {% for href, link_name in [
              ['/blog', 'Blog'],
              ['/projects', 'Projects'],
              ['/about', 'About']
            ] %}
              <a class="navbar-item is-tab" href="{{ href|url }}">{{ link_name }}</a>
            {% endfor %}
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div id="body">
    {% block body %} {% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p id="footer-text"><strong>zmsy.co</strong> - A personal blog by Zach Morrissey. Copyright © <span id="yearText"></span></p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="{{ '/js/main.min.js'|asseturl }}"></script>
  <script>
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o), m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-104524581-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>