{% from "macros/nav.html" import render_nav %}
{% from "macros/head.html" import render_head %}
<!doctype html>
<head>
  {{ render_head(this) }}
  {% block includes %} {% endblock %}
</head>
  {{ render_nav() }}
<body>
  <div id="body">
    {% block body %} {% endblock %}
  </div>
  <footer class="footer">
    <div class="container has-text-centered">
      <p id="footer-text"><strong>zmsy.co</strong> - A personal blog by Zach Morrissey. Copyright © <span id="yearText"></span></p>
    </div>
  </footer>
  <script type="text/javascript" src="{{ '/js/main.min.js'|asseturl }}"></script>
  <script>
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o), m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-104524581-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>