{% from "macros/nav.html" import render_nav %}
{% from "macros/head.html" import render_head %}
{% from "macros/footer.html" import render_footer %}
{% from "macros/ga.html" import render_google_analytics %}
<!doctype html>
<head>
  {{ render_head(this) }}
  {% block includes %} {% endblock %}
</head>
  {{ render_nav() }}
<body>
  <div id="body">
    {% block body %} {% endblock %}
  </div>
  {{ render_footer() }}
  <script type="text/javascript" src="{{ '/js/main.min.js'| asseturl }}"></script>
  {{ render_google_analytics() }}
</body>
</html>